.root {
    -fx-background-image: url("/background_image.png");
    -fx-background-size: cover;
}

.titleMain {
    -fx-font-family: "Kode Mono Bold";
    -fx-font-size: 80px;
    -fx-text-fill: linear-gradient(to right, #ffff00, #ff0000, #0000ff);
    -fx-effect: dropshadow(one-pass-box, white, 0, 0, 5, 0);
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 17px;
    -fx-background-color: rgba(220, 220, 220, 0.3);
    -fx-background-radius: 20px;
}

.gameBoard {
    -fx-border-color: #2A5058;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 8px;
}

.scoreLabel{
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 25px;
    -fx-text-fill: black;
}

.nextBrickLabel {
    -fx-font-family: "Press Start 2P Regular";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 25px;
    -fx-text-fill: black;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    -fx-font-family: "Courier Prime";
    -fx-font-size: 22px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.gameOverStyle {
    -fx-font-family: "Russo One";
    -fx-font-size: 48;
    -fx-fill: red;
    -fx-text-fill: red;
}

.scoreClass{
    -fx-font-family: "VT323 Regular";
    -fx-font-size: 38;
    -fx-fill: black;
    -fx-text-fill: black;
}

.pauseButton{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-image: url("/pause_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.pauseMenu{
    -fx-background-color: #A9A9A9;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}

.pausedTitle{
    -fx-font-family: "Russo One";
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: black;
}

.continueButton{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-image: url("/continue_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.restartButton{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-image: url("/restart_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.mainMenuButton{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-image: url("/home_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.leaderboardPanel {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: rgba(220, 220, 220, 0.8);
    -fx-background-radius: 15;
    -fx-padding: 20;
}

.leaderboardScore{
    -fx-font-family: "Courier Prime";
    -fx-font-size: 80px;
    -fx-text-fill: #03AC13;
    -fx-alignment: center;
}

.quitButton{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-image: url("/quit_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}